@inject SignInManager<IdentityUser> SignInManager
@model IList<ETG.WebBase.ViewModels.PostModel>

@{
    ViewData["Title"] = "Search";
}

@if (Model.Any())
{
    <div class="row">
        @foreach (var p in Model)
        {
            <div class="col-md-4">
                <div class="card mb-3">
                    @if (!string.IsNullOrEmpty(p.ImageUrl))
                    {
                        <img src="~/@Url.Content(p.ImageUrl)" class="card-img-top" alt="...">
                    }
                    <div class="card-body">
                        <h4 class="card-title"><a asp-action="Show" asp-controller="Posts" asp-route-postId="@p.Id">@p.Title</a></h4>
                        <p class="card-text my-1"><small class="text-muted">@p.CreateOn.ToString("G")</small></p>
                        <p class="card-text mt-0">@string.Format("{0} ...", p.Description.Substring(0, Math.Min(p.Description.Length, 140)))</p>

                        <div class="mt-2">
                            <a asp-action="Show" asp-controller="Posts" asp-route-postId="@p.Id" class="btn btn-sm btn-outline-info">Read more...</a>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>

}
else
{
    <div class="text-center">
        <h1 class="display-4">No Result</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
}

